//
// Production .xcconfig
//

// Include Pods config.
#include "Pods/Target Support Files/Pods-Tinodios/Pods-Tinodios.release.xcconfig"

// Server URL
HOST_NAME = chat.blml.app
// Use TLS (https, wss)
USE_TLS = YES

// App Settings
APP_NAME = BLML

// Versioning. The values are automatically updated by a build script.
GIT_TAG = 73901bc596c620c3bbb3bc7444afee51afd5ddf
GIT_COMMIT_COUNT = 10
