//
// Production .xcconfig
//

// Include Pods config.
#include "Pods/Target Support Files/Pods-Tinodios/Pods-Tinodios.release.xcconfig"

// Server URL
HOST_NAME = chat.blml.app
// Use TLS (https, wss)
USE_TLS = YES

// App Settings
APP_NAME = BLML

// Versioning. The values are automatically updated by a build script.
GIT_TAG = 65a4b8b0bd11a6dd8482d054bf3bd79f84f57ca
GIT_COMMIT_COUNT = 21
