//
// Production .xcconfig
//

// Include Pods config.
#include "Pods/Target Support Files/Pods-Tinodios/Pods-Tinodios.release.xcconfig"

// Server URL
HOST_NAME = chat.blml.app
// Use TLS (https, wss)
USE_TLS = YES

// App Settings
APP_NAME = BLML

// Versioning. The values are automatically updated by a build script.
GIT_TAG = f114b71076b365853ecd11f86042bb1956a539e
GIT_COMMIT_COUNT = 25
